 body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-color: #87CEEB; 
    min-height:fit-content;
    background-attachment:inherit;
    overflow-x: hidden;
   
  }
  
  #app {
    font-family: "Bona Nova SC", serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2F4F7F; 
    margin-top: 0px;
    min-height: 100vh;

  }
  
  nav {
    padding: 15px 0px 15px 0px;
    display: flex; 
    justify-content: space-between; 
  }
  
  nav a {
    font-weight: bold;
    color: #3498DB; 
    text-decoration:double;
    background-color: #87CEEB; 
    border-radius: 100%;
    padding: 4px 6px; 
    border: 5px #3498DB solid; 
    margin: 0 15px; 
  }
  
  nav a:hover {
    font-weight: bold;
    color: #2F4F7F; 
    background-color: rgba(52, 152, 219, 0.7); 
    padding: 15px 0px 15px 0px;
  }
  
  nav a.router-link-exact-active {
    color: #2F4F7F; 
    background-color: rgba(52, 152, 219, 0.7); 
    border-radius: 50px;
    padding: 5px;
  }
  
  img {
    /* border: 3px #3498DB solid;  */
    border-radius: 10%;
    width: 350px;
    height: 250px;
   
  }
  
  #content {
    color: 2px 2px black;
    text-shadow: 0.5px 1px rgb(191, 193, 193);
    font-size: large;
    font-weight: bold;
    justify-content: center;
    
  }
  header {
    text-align: justify;
    justify-content: space-between;
    border-radius: 10px;
    margin-left: 0.5rem;
    margin-top: 1rem;
    width: 100%;
    background-color: rgb(15, 70, 147); 
  }
  
  h1 {
    text-align: right;
    color: rgb(0, 0, 0); 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    top: 0%
  }
  
  #section {
    background-image: url("https://mquanaazi.github.io/huluImages/uhamboBackground.jpg");
    /* filter: blur(5px);  */
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    justify-content: center;
    position: sticky;
    text-align: center;
    padding: 3px;
    margin-left: 0.5rem;
    color: rgb(3, 1, 35);
  }
  
  #footer {
    margin-left: 1rem;
  }
  /* for small screens */
  @media only screen and (max-width: 350px) {
    .container {
      width: 100%;
    }
    nav {
        flex-direction: column; /* Stack the links vertically */
      }
      nav a {
        width: 100%; /* Adjust the width of each link */
        margin: 10px auto; /* Add some margin between links */
      }
body{
  font-family: 'Times New Roman', Times, serif;
  width: 100%;
  height: 100%;
  margin: 0;

}
    
  }
  @media only screen and (max-width: 600px) {
    .container {
      width: 90%;
    }
    nav {
        flex-direction: column; /* Stack the links vertically */
      }
      nav a {
        width: 90%; /* Adjust the width of each link */
        margin: 10px auto; /* Add some margin between links */
      }
    
  }
  
  /* For medium screens */
  @media only screen and (min-width: 601px) and (max-width: 1200px) {
    .container {
      width: 80%;
    }
    nav {
        flex-direction: row; /* Keep the links horizontal */
      }
      nav a {
        width: 80%; /* Adjust the width of each link */
        margin: 10px; /* Add some margin between links */
      }
  }
  
  /* For large screens */
  @media only screen and (min-width: 1201px) {
    .container {
      width: 70%;
    }
    nav {
        flex-direction: row; /* Keep the links horizontal */
      }
      nav a {
        width: 70%; /* Adjust the width of each link */
        margin: 10px; /* Add some margin between links */
      }
  }

  #assets {
    margin-left: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* create three columns of equal width */
    grid-gap: 1rem; /* add a gap of 1rem between items */
  }
  
  .asset {
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-gap: 0.5rem; 
  }
  
  .asset img {
    width: 100%; 
    height: auto; 
  }
  
  .asset .info {
    text-align: center; 
  }